body
{
    background-color: black;
}

h1
{
    text-align: center;
    display: block;
}

h2
{
    text-align: center;
    display: block;
}

#mygame
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container */
}